/* Default Css */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Clearfix */
.clearfix::before{
    content: '';
    clear: both;
    display: block;
}
/* Container Css */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* nedded Css */
body h1,h2,h3,h4,h5,h6,a,span{
    font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
}
/* Header Css Start */
/* header top */
.header-top {
    background-color: #f5f5f5;
    padding: 10px 0;
}
.header-top-left{
    float: left;
    width: 35%;
}
.header-top-left span {
    color: #757575;
    font-size: 20px;
    margin-right: 9px;
    transition: color .35s ease-in-out; 
}
.header-top-left span:hover {
    color: #333;
}
.header-top-left .search1{
    outline: none;
    border: none;
}
.header-top-left .search{
    outline: none;
    border: none;
    background-color:#f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.header-top-right{
    float: left;
    width: 65%;
}
.header-top-social ul{
    text-align: right;
}
.header-top-social ul li{
    display: inline-block;
}
.header-top-social ul li a{
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    color: #757575;
    transition: color .35s ease-in-out; 
}
.header-top-social ul li a:hover{
    color: #333;
}
/* Header Middle Css */
.header-middle{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}
.header-middle .header-logo {
    text-align: center;
}
/* header Menu */
.header-buttom .header-menu{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.header-buttom .header-menu ul{
    text-align: center;
    z-index: 999;
}
.header-buttom .header-menu ul li {
    display: inline-block;
    margin-right: 35px;
}
.header-buttom .header-menu ul li span{
    color: #333;
}
.header-buttom .header-menu ul li a{
    padding: 20px 0;
    display: inline-block;
    text-transform: uppercase;
    color: #757575;
    transition: .5s;
}
.header-buttom .header-menu ul li:hover>a{
    color: #111;
}
/* Drop Down Menu */
.header-buttom .header-menu ul li{
    position: relative;
}
.header-buttom .header-menu ul li ul{
    width: 200px;
    display: block;
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
    position: absolute;
    top: 100%;
    left:0;
    border-top: 1px solid #ddd;
    transition: .6s;
}
.header-buttom .header-menu ul li ul li{
    display: block;
    margin-right:0;
    text-align: left;
    background-color: #fff;
}
.header-buttom .header-menu ul li ul li a{
    padding: 10px 10px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.header-buttom .header-menu ul li ul li a:hover{
    background-color: #f0b9b9;
}
/* Hide Css */
.header-buttom .header-menu ul li ul{
    visibility: hidden;
    opacity: 0;
    transform: scaleXY(0);
    transform-origin: top center;
}
.header-buttom .header-menu ul li:hover ul{
    visibility:visible;
    opacity: 1;
}
/* Feartured Sectiuon */
.featured-section{ 
}
.featured-section .background {
    padding-top: 67px;
    position: relative;
}
.featured-section .background .bg-img{
    height: 400px;
    background-image: url(./img/post_placeholder_42.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}
.featured-section .background .bg-text {
    max-width: 60%;
    background-color: rgba(255,255,255,0.9);
    padding: 25px;
    position: absolute;
    top: 140px;
    left: 250px;
}
.featured-section .background .bg-text .bg-text-content{
    text-align: center;
}
.featured-section .background .bg-text .bg-text-content h2 a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    line-height: 33px;
    font-weight: 40;
    color: #111;
    letter-spacing: .2rem;
}
.featured-section .background .bg-text .bg-text-content p {
    font-size: 22px;
    color: #757575;
    line-height: 31px;
    margin-top: 13px;
}
/* Buttton */
.btn{
    margin-top: 20px;
    margin-left: 10px;
    background-color: #e8e8e8;
    border:none;
    color: #757575;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 11px 30px;
    transition: .5s;
    outline: none;
}
.btn:hover{
    background-color: #757575;
    border-color: #757575;
    color: #f5f5f5;
}
/* Box Section Start */
.box-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.box-section .box{
    float: left;
    width: 25%;
    position: relative;
}
.box-section .box .box-img {
    position: relative;
    margin-left: -10px;
    transition: .5s;
}
.box-section .box .box-img:hover{
    filter: opacity(0.6);
}
.box-section .box .box-img img{
    width: 300px;
    padding-left: 25px;
}
.box-section .box .box-img{
    width: 300px;
    padding-left: 0;
}
.box-section .box-click {
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    left: 95px;
    top: 55px;
}
.box-section .box-click a {
    font-size: 22px;
    color: #333;
    padding: 20px 25px;
    display: block;
}
/* News Latter Section */
.newslatter-text {
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.newslatter-text .left-content{
    float: left;
    width: 40%;
}
.newslatter-text .left-content h3 {
    font-weight: 400;
    font-size: 22px;
    color: #111;
    margin-top: 8px;
}
.newslatter-text .left-content p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 16px;
    margin-top: 6px;
}
.newslatter-text .right-content{
    float: left;
    width: 60%;
    text-align: right;
}
.newslatter-text .right-content .btn {
    padding: 10px 61px;
}
.newslatter-text .right-content .email {
    border: none;
    outline: none;
    padding: 12px 34px;
}
/* About Section */
.about-section{
    padding-top: 50px;
}
.main-area .area-left{
    float: left;
    width: 65%;
}
.main-area .area-left .area-img img {
    width: 100%;
}
.main-area .area-left .text-area{
    margin-top: 20px;
}
.main-area .area-left .text-area strong {
    font-size: 20px;
    color: #757575;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .1rem;
}
.main-area .area-left .text-area h2 {
    font-size: 30px;
    color: #111;
    line-height: 33px;
    text-decoration: none;
    display: block;
    transition: color .35s ease-in-out;
    font-weight: 300;
    margin-top: 15px;
}
.main-area .area-left .text-area h2:hover{
    color: #757575;
}
.main-area .area-left .text-area span {
    font-size: 16px;
    color: #757575;
    line-height: 16px;
    margin-top: 15px;
    display: block;
    margin-bottom: 24px;
}
.main-area .area-left .text-area p {
    font-size: 19px;
    color: #757575;
}
.main-area .area-left .text-area button {
    margin-left: 0;
    padding: 10px 40px;
}
/* Right side */
.main-area .area-right{
    float: left;
    width: 35%;
}
.main-area .area-right .main-area2 {
    padding-left: 40px;
}
.main-area .area-right .main-area2 h2 {
    font-size: 25px;
    color: #111;
    margin-bottom: 17px;
    font-weight: 400;
}
.main-area .area-right .main-area2 p {
    font-size: 20px;
    color: #757575;
    line-height: 31px;
}
.main-area .area-right .main-area2 ul {
    text-align: left;
    margin-top: 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid #333;
}
.main-area .area-right .main-area2 ul li {
    display: inline-block;
    padding-right: 24px;
}
.main-area .area-right .main-area2 ul li a {
    display: inline-block;
    font-size: 21px;
    color: #757575;
}
.main-area .area-right .main-area2 ul li a:hover{
    color: #333;
}

.main-area .area-right h4 {
    font-size: 25px;
    margin-bottom: 22px;
    margin-top: 50px;
    color: #333;
}
.main-area .area-right .post-sidebar .wrapeer {
    padding-bottom: 115px;
    border-bottom: 1px solid #333;
    margin-top: 10px;
}
.main-area .area-right .post-sidebar .wrapeer .post-sidebar-img{
    float: left;
    width: 45%;
}
.main-area .area-right .post-sidebar .wrapeer .post-sidebar-img img{
    width: 160px;
    transition: .5s;
}
.main-area .area-right .post-sidebar .wrapeer .post-sidebar-img img:hover{
    filter: opacity(0.5);
}
.main-area .area-right .post-sidebar .wrapeer .post-sidebar-text {
    float: left;
    width: 55%;
}
.main-area .area-right .post-sidebar .wrapeer .post-sidebar-text h2 {
    font-size: 19px;
    color: #111;
    line-height: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}
.main-area .area-right .post-sidebar .wrapeer .post-sidebar-text p{
    font-size: 20px;
    color: #757575;
    line-height: 31px;
}
.main-area .area-right .post-sidebar h3 {
    margin-top: 55px;
    font-size: 25px;
    color: #111;
    margin-bottom: 17px;
    font-weight: 400;
}
/* Design Section Css */
.design-section .design-left{
    width: 65%;
    float: left;
}
.design-section .design-left .design-left-content {
    float: left;
    width: 45%;
    margin-right: 45px;
    padding-bottom: 35px;
    border-bottom: 1px solid #333;
    padding-top: 20px;
}


.design-section .design-left .design-left-content .design-img {
    width: 100%;
}
.design-section .design-left .design-left-content .design-img img {
    width: 100%;
    transition: .5s;
}
.design-section .design-left .design-left-content .design-img img:hover{
    filter: opacity(0.5);
}
.design-section .design-left .design-left-content .design-text {
    width: 100%;
}
.design-section .design-left .design-left-content .design-text strong {
    font-size: 16px;
    color: #757575;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}
.design-section .design-left .design-left-content .design-text h2 {
    font-size: 25px;
    color: #111;
    display: block;
    transition: color .35s ease-in-out;
    font-weight: 400;
    margin-bottom: 6px;
}
.design-section .design-left .design-left-content .design-text h2:hover{
    color: #757575;
}
.design-section .design-left .design-left-content .design-text span {
    font-size: 15px;
    color: #757575;
    margin-bottom: 11px;
    display: block;
}
.design-section .design-left .design-left-content .design-text p {
    font-size: 19px;
    color: #757575;
}
.design-section .design-left .design-left-content .design-text button {
    margin-left: 0;
}
/* Content right css ------------*/
.design-section .design-left .design-right-content {
    float: left;
    width: 45%;
    padding-bottom: 35px;
    border-bottom: 1px solid #333;
    padding-top: 20px;
}
.design-section .design-left .design-right-content .design-img img {
    width: 100%;
    transition: .5s;
}
.design-section .design-left .design-right-content .design-img img:hover{
    filter: opacity(0.5);
}
.design-section .design-left .design-right-content .design-text strong {
    font-size: 16px;
    color: #757575;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}
.design-section .design-left .design-right-content .design-text h2 {
    font-size: 25px;
    color: #111;
    display: block;
    transition: color .35s ease-in-out;
    font-weight: 400;
    margin-bottom: 6px;
}
.design-section .design-left .design-right-content .design-text h2:hover{
    color: #757575;
}
.design-section .design-left .design-right-content .design-text span {
    font-size: 15px;
    color: #757575;
    margin-bottom: 11px;
    display: block;
}
.design-section .design-left .design-right-content .design-text p {
    font-size: 19px;
    color: #757575;
}
.design-section .design-left .design-right-content .design-text button {
    margin-left: 0;
}
/* design right Are Css------------- */
.design-section .design-right{
    width: 35%;
    float: left;
}
.design-section .design-right .design-photo{
    padding-left: 40px;
}
.design-section .design-right .design-photo .photo-wrap-caption h2 {
    font-size: 25px;
    color: #111;
    margin-bottom: 17px;
    font-weight: 400;
    margin-top: 50px;
}

.design-section .design-right .design-photo .photo-wrap{
    float: left;
    width: 33%;
}
.design-section .design-right .design-photo .photo-wrap .mix-img img {
    width: 100%;
    height: 110px;
}
.design-section .design-right .cover-photo{
    padding-top:30px;
}


.design-section .design-right .cover-photo{
    position: relative;
}
.design-section .design-right .cover-photo .photo-content img {
    width: 100%;
    padding-top: 45px;
}
/* .design-section .design-right .cover-photo .photo-content img:hover{
    filter: opacity(0.6);
} */
.design-section .design-right .cover-photo .ok2 {
    position: absolute;
    left: 110px;
    top: 72%;
    background-color: rgba(255,255,255,0.9);
    color: #333;
    padding: 15px 40px;
    font-size: 23px;
}
.design-section .design-right .cover-photo .ok {
    position: absolute;
    left: 105px;
    top: 155px;
    background-color: rgba(255,255,255,0.9);
    color: #333;
    padding: 15px 40px;
    font-size: 23px;
}
/* Newslatter Box css */
.design-section .design-right .box-newslatter {
    margin-top: 50px;
}

.design-section .design-right .box-newslatter .newslatter-content {
    background-color: #f5f5f5;
}
.design-section .design-right .box-newslatter .newslatter-content .newslatter-text h2 {
    font-size: 22px;
    color: #111;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 400;
    margin-top: 20px;
}
.design-section .design-right .box-newslatter .newslatter-content .newslatter-text p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    line-height: 18px;
    margin-top: 6px;
}
.design-section .design-right .box-newslatter .newslatter-content .newslatter-text .email3 {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    outline: none;
    margin-top: 24px;
}
.design-section .design-right .box-newslatter .newslatter-content .newslatter-text button {
    display: block;
    width: 100%;
    margin-left: 0;
}
.design-section .design-right .tag-area .tag-text h2 {
    font-size: 25px;
color: #111;
margin-bottom: 17px;
font-weight: 400;
margin-top: 50px;
}
.design-section .design-right .tag-area .tag-content .all-button {
    float: left;
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.design-section .design-right .tag-area .tag-content .all-button button {
    margin-left: 0;
    font-size: 14px;
    padding: 4px 28px;
    margin-top: 0;
}
/* Search 02 css */
.design-section .design-right .search2 .search-text h2 {
    font-size: 25px;
    color: #111;
    margin-bottom: 17px;
    font-weight: 400;
    margin-top: 50px;
}
.design-section .design-right .search2 .search-text .email4 {
    padding: 5px 15px;
    width: 100%;
    font-size: 22px;
    border: 1px solid #e6e6e6;
    outline: none;
    font-family: 'Open Sans',sans-serif;
}
.design-section .design-right .search2 .search-text button {
    width: 100%;
    margin-left: 0;
}
/* Last button section css */
.last-button {
    padding-bottom: 45px;
}
.last-button .last-button-content button {
    width: 60%;
}
/* Footer Top Section Css */
.footer-top {
    justify-content: center;
    display: flex;
}
.footer-top .footer-top-content {
    float: left;
    width: 12.2%;
    margin-right: 4px;
}
.footer-top .footer-top-content .footer-top-img {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29416256_1760807627311189_4492610077370351616_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img1 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29714761_555839071466745_8030460400992518144_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img1:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img2 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29717101_126769578170902_5714474143609520128_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img2:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img3 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29738267_234630113776270_727241360255483904_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img3:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img4 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29738268_126020271579652_6403232296245133312_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img4:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img5 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/30077143_182578785711280_6885973615154561024_nlow.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img5:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img6 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29415208_1054356991385716_8851887898673283072_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img6:hover{
    filter: opacity(0.6);
}
.footer-top .footer-top-content .footer-top-img7 {
    width: 100%;
    height: 195.867px;
background-image: url("./img/29416038_223501671534015_8458243198123245568_nfull.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
transition: .6s;
}
.footer-top .footer-top-content .footer-top-img7:hover{
    filter: opacity(0.6);
}
/* Buttom Footer */
.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eaeaea;
}
.footer-bottom .footer-bottom-left{
    float: left;
    width: 50%;
}
.footer-bottom-left .footer-bottom-social ul{
    text-align: left;
}
.footer-bottom-left .footer-bottom-social ul li {
    display: inline-block;
}
.footer-bottom-left .footer-bottom-social ul li a{
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    color: #757575;
    transition: color .35s ease-in-out;
}
.footer-bottom-left .footer-bottom-social ul li a:hover {
    color: #333;
}
/* Footer bottom right */
.footer-bottom .footer-bottom-right{
    float: left;
    width: 50%;
}
.footer-bottom .footer-bottom-right .fotter-bottom-text {
    text-align: right;
}
.footer-bottom .footer-bottom-right .fotter-bottom-text p {
    font-size: 19px;
    letter-spacing: .06rem;
    font-weight: 400;
}
.footer-bottom .footer-bottom-right .fotter-bottom-text a {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    transition: .5s;
}
.footer-bottom .footer-bottom-right .fotter-bottom-text a:hover{
    color: rgb(233, 17, 204);
}
 

/* Project Greace End */
/* 2021 All Rights Reserved by Zobayerul Islam Shishir */












